---
---

@import "{{ site.theme }}";

.algorithm-container {
    border: 2px solid gray;
    width: 125px;
    display: inline-block;
    vertical-align: top;
}

.algorithm {
    text-align: center;
    font-weight: 700 !important;
    font-family: sans-serif !important;
}

.algorithm-visual {
    width: 125px !important;
    height: 150px !important;
    border: none !important;
}

.spacer {
    height: 1em !important;
}

.scramble {
    vertical-align: top;
    margin-left: 4px;
    margin-top: 4px;
    padding-left: 4px;
    padding-left: 4px;
    display: table-cell;
}

#header {
    margin-top: 0px !important;
    height: 42px !important;
}